<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="jumbotron">
  <h1>Welcome</h1> 
  <h2>to Panino!</h2>      
</div>



<br>
<br>

<div class="container">
  <div class="btn btn-info" role="button">
    <%= link_to 'New Order', new_order_path %>
  </div>
  <div class="btn btn-info" role="button">
    <%= link_to 'View Orders', orders_path %>
  </div>
</div>

<br>
<br>
<br>

<div class="container">
  <div class="btn btn-warning" role="button">
    <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
  </div>
</div>

  

<br>
<br>


</body>
</html>